<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<br>
<div class="container">
    <br><br><br>
    <a href="/home" class ="btn btn-primary">Trang chủ</a>
    <a href="/user/listproduct" class ="btn btn-primary" >Danh sách sản phẩm</a>
    <a href="/admin/edit" class ="btn btn-primary">Thay đổi thông tin sản phẩm</a>
    <a href="/admin/addproduct" class ="btn btn-primary">Thêm sản phẩm</a>
    <a href="/logout" class ="btn btn-primary">Đăng xuất</a>
    <hr>
    <br>
    <form th:action="@{/admin/editsuccess}" method="post" enctype="multipart/form-data">
        <div th:object="${product}">
            <table border="1">
                <tr>
                    <th>Sản phẩm</th>
                    <td><input type="text" th:value="${product.getNumberProduct()}"  th:field="*{nameProduct}" ></td>
                </tr>
                <tr>
                    <th>Giá</th>
                    <td><input type="number" th:value="${product.getPriceProduct()}" th:field="*{priceProduct}" min = 0 ></td>
                </tr>
                <tr>
                    <th>Mô tả</th>
                    <td><input type="text" th:value="${product.getDescribeProduct()}" th:field="*{describeProduct}"></td>
                </tr>

                <tr>
                    <th>Số lượng</th>
                    <td><input type="number" th:value="${product.getNumberProduct()}" th:field="*{numberProduct}" min = 0 ></td>
                </tr>

            </table>
        </div>
        <tr>
            Hình ảnh
            <input type="file" value="choose file" name="image">
        </tr>

        <input type="submit" value="Sửa" class="form-control btn btn-info" width="10%">
    </form>
</div>



</body>
</html>