resolvers docker
nameserver dnsmasq 127.0.0.1:53

global
    log /dev/log local0
    log localhost local1 notice
    maxconn 2000
    daemon
 
defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000
 
frontend http-in
    bind *:80
    default_backend webservers
 
backend webservers
    stats enable
    stats auth admin:admin
    stats uri /haproxy?stats
    balance roundrobin
    option httpchk
    option forwardfor
    option http-server-close
    server 1 hello1_1:8086 check resolvers docker resolve-prefer ipv4
    server 2 hello1_2:8086 check resolvers docker resolve-prefer ipv4
    server 3 hello1_3:8086 check resolvers docker resolve-prefer ipv4
